*{
    box-sizing: border-box;
}
body{
  
    background-image: url('./hero-casino-floor.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  
    
}
.button{
    display: flex;
    align-items: end;
    justify-content: center ;
}
.button button{
    margin-bottom: 5%;
}

.text{
    color: white;
    
}
.page{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgba(128, 0, 128, 0.588);
    width:auto  ;
    height:fit-content;
    width: 100vw;
    height: 100vh;
    margin: 0;

}