*{
    box-sizing: border-box;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center ;
    
 
}


.button button a{
    width: 65px;
height: 24px;

font-family: 'Impact';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

/* 2 */

background: linear-gradient(180deg, #FFFFFF 0%, #1DC9FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

/* 1 */


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.button button{


    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11px 27px;
gap: 10px;

position: absolute;
width: 119px;
height: 46px;




background: linear-gradient(180deg, #70FF00 0%, #BD00FF 0.01%, #005484 100%);
border: 1px solid #00A3FF;
box-shadow: 0px 4px 4px rgba(36, 255, 0, 0.27), inset 0px -6px 4px rgba(0, 163, 255, 0.26), inset 0px 4px 4px rgba(255, 247, 207, 0.65);
border-radius: 11px;
}
.button button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

.text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto 5%;
    font-size: 160%;
}

.text h1{
    
   
height: 44px;
left: 36px;
top: 12px;

font-family: 'Impact';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.05em;

background: linear-gradient(180deg, #EBFF00 0%, #FFA800 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.text p{
  
left: 34px;
top: 64px;

font-family: 'Impact';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgba(128, 0, 128, 0.588);
    width:auto  ;
    height:fit-content;

    margin: 0;

}
*{
    box-sizing: border-box;
}
body{
  
 

    background-image: url('./hero-casino-floor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100vw;
    height: 100vh;
  
    
}

.fon{
    background-color: rgba(137, 43, 226, 0.598);
   
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    
}

a{
    text-decoration: none;
}