*{
    box-sizing: border-box;
}
body{
  
    background-image: url('./hero-casino-floor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
  
    
}

.fon{
    background-color: rgba(137, 43, 226, 0.598);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.games{
    height: 85%;

}

.games li {
     list-style: none;
     margin: auto;

}

.games img{
 
    width:100%;
    height: 230px;
    border: 2px solid orange;
    border-radius: 25px;


}

.games ul{
    margin: 0;
    display: flex;
    
    padding-top: 10%;
    justify-content: center;
}


.navbar{
    height: 15%;
    background-color: #8b00e2;
    border-bottom: 4px solid #913bff;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    box-sizing: border-box;

height: 10%;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #8000FF 0%, #9E00FF 40.42%, #61009C 100%);
border-bottom: 2px solid #913BFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -11px 19px rgba(56, 0, 112, 0.63);
}

.nav{
  

    
        background-color: #370063;
    
        border: 2px solid orange;
        border-radius: 25px;
        width: auto;
        height: 50%;
         width: 20%;

         width: 241px;
height: 36px;

background: #370063;
border: 1px solid #FFB800;
box-shadow: inset 0px 4px 3px rgba(32, 0, 65, 0.91);
border-radius: 18.5px;
    
    
}

.money{
   color: #f5d400;
   font-weight: bold;
   font-size: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10%;
}

.money img{
    width: 17%;
    
 }

 

.nav p{
    margin: 0;
    width: 78px;
height: 24px;

font-family: 'Impact';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

background: linear-gradient(180deg, #EBFF00 0%, #FFA800 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.exp{
    color: #f5d400;
    font-weight: bold;
    font-size: 100%;
    display: flex;
   

 }
 
 .exp p { 
     margin: auto auto;
    
     width: 91px;
height: 24px;

font-family: 'Impact';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

background: linear-gradient(180deg, #0066FF 0%, #BD00FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

 }
 .exp img{
  
     position: relative;
     width: auto;
   

     margin-left: -10%;
     margin-top: -4%;
  }

